// section contact
.contact {
   .wrap--contact {
      background-size: cover;
      padding: 100px 10px 0;

      @media (max-width: 576px) {
         padding: 10px;
      }
   }

   .contact-header {
      text-align: center;

      .title--contact {
         margin: 0 0 45px;

         @media (max-width: 576px) {
            margin: 0 0 15px;
            font-size: 5rem;
         }
      }

      &__subtitle {
         width: 370px / 1140px * 100%;
         margin: 0 auto 45px;
         color: inherit;

         @media (max-width: 576px) {
            width: 70%;
            margin: 0 auto 15px;
         }
      }
   }

   .flex--footer {
      align-items: start;

      @media (max-width: 576px) {
         flex-direction: column;
      }

      .flex__el--footer {
         width: 50%;

         @media (max-width: 576px) {
            width: 100%;
         }
         .form {
            margin: 0px 100px 120px 15px;

            @media (max-width: 776px) {
               margin: 15px;
               padding: 0 10px;
            }

            label {
               display: block;
               position: relative;

               &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  width: 10px;
                  height: 100%;
                  background-color: #355b82;
                  opacity: 0;
                  transition: all 0.3s ease-in;
               }

               &:hover::after {
                  content: "";
                  opacity: 1;
               }
            }

            input,
            textarea {
               display: block;
               width: 100%;
               padding: 12px 20px;
               color: #ffffff;
               border: none;
               outline: 0;
               transition: all 0.3s ease-in;
               background-color: #00c4c4;
            }

            input::placeholder,
            textarea::placeholder {
               color: #ffffff;
            }

            input {
               margin-bottom: 15px;
               &[type="submit"] {
                  display: none;
               }
            }
            input:not(:hover),
            textarea:not(:hover) {
               opacity: 0.5;
            }
         }
      }
   }

   .communication {
      padding: 0 5px 0 70px;

      @media (max-width: 576px) {
         margin: 0 15px 15px;
         padding: 10px;
      }

      &__title {
         text-transform: uppercase;
         font-weight: 700;
      }

      &__sub {
         margin: 10px 0 20px;

         @media (max-width: 576px) {
            margin: 5px;
         }
      }
   }
}
// section contact

// footer
.copyright {
   background-color: #262626;
   color: #b9b9b9;
   padding: 30px;

   @media (max-width: 576px) {
      padding: 10px 20px;
   }

   .logo {
      font-family: "Pacifico", cursive;
      font-size: 2.5rem;
      color: inherit;

      @media (max-width: 576px) {
         font-size: 3rem;
      }
   }

   .flex--copyright {
      justify-content: space-between;
      align-items: center;

      .flex__el {
         width: 33.333%;
         text-align: center;

         span {
            color: #f12b55;
            font-weight: 700;
         }
      }
   }
}
// footer
