.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   min-height: 100vh;
   background-position: 50% 0;
   background-repeat: no-repeat;
   background-size: auto 100%;

   @media (max-width: 766px) {
      background-position: 0 0;
   }
   @media (max-width: 576px) {
      background-position: -100% 0;
   }

   &__logo {
      font-family: "Pacifico", cursive;
      color: #262626;
      h1 {
         margin: 0;
         font-size: 5rem;
         font-weight: 400;

         @media (max-width: 992px) {
            margin-top: 20px;
         }
      }
   }

   &__head {
      margin-top: 45px;
      position: relative;

      @media (max-width: 992px) {
         margin: 0;
      }
   }

   &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      &-el {
         @media (max-width: 768px) {
            width: 100%;
            text-align: center;
         }
      }
   }

   // navigate
   .nav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      transition: all 0.5s ease-in;

      @media (max-width: 768px) {
         position: absolute;
         top: 0;
         left: 0;
         min-width: 100vw;
         min-height: 100vh;
         font-size: 3rem;
         background-color: rgba($color: #ff6033, $alpha: 0.95);
         flex-direction: column;
         align-items: center;
         transform: scale(0);
         z-index: 90;
         transform-origin: right top;
      }

      &__item {
         margin: 0 20px;
         padding-top: 8px;
         border-top: 3px solid transparent;
         transition: all 0.3s ease-in;
         &:hover,
         &:active,
         &:focus {
            border-color: #ff6033;
            cursor: pointer;
         }

         @media (max-width: 768px) {
            width: 50%;
            margin: 10px 0;
            border: 2px solid #eee;
            border-left-width: 0;
            border-right-width: 0;
            border-radius: 10px;
            outline: 0;
         }

         a {
            text-decoration: none;
            color: inherit;
         }
      }
   }
   // navigate

   /* Кнопка для переключения */
   #toggle {
      display: none;
   }
   .toggle-container {
      display: none;

      @media (max-width: 768px) {
         display: block;
         position: fixed;
         right: 80px;
         top: 0;
         z-index: 100;
         transform: scale(1);
         transition: all 0.5s ease-in;
      }
   }
   .toggler-change {
      transform: scale(0);
   }

   .button-toggle {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 100%;
      transition: 0.6s;
   }
   .button-toggle:hover {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
   }

   .button-toggle:after {
      position: absolute;
      content: "";
      top: 25%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #ec7263;
      border-radius: 5px;
      transition: 0.5s;
      transform-origin: 50% 0 0;
   }
   .button-toggle:nth-child(2):after {
      content: "";
      top: 50%;
      left: 0;
   }
   .button-toggle:nth-child(3):after {
      content: "";
      top: 75%;
      left: 0;
   }

   #toggle:checked ~ .toggle-container .button-toggle:nth-child(1):after {
      transform: scale(0.7) translateY(14px) rotate(45deg);
   }
   #toggle:checked ~ .toggle-container .button-toggle:nth-child(2):after {
      transform: scale(0);
   }
   #toggle:checked ~ .toggle-container .button-toggle:nth-child(3):after {
      transform: scale(0.7) translateY(-14px) rotate(-45deg);
   }
   #toggle:checked ~ .toggle-container .button-toggle {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
   }
   #toggle:checked + label .button-toggle:after {
      background-color: #fff;
   }
   #toggle:checked ~ nav .nav {
      @media (max-width: 768px) {
         transform: scale(1);
         position: fixed;
         padding-top: 30%;
         width: 100%;
         height: 100%;
      }
   }
   /* Кнопка для переключения */

   .post {
      width: 370px;
      position: absolute;
      top: 40%;
      padding: 0 10px;

      @media (max-width: 768px) {
         width: 70%;
         top: 30%;
         font-size: 2rem;
      }
      @media (max-width: 576px) {
         width: 100%;
         top: 20%;
      }

      &__title {
         font-size: 6rem;
         font-weight: 900;
         margin-bottom: 30px;

         @media (max-width: 576px) {
            font-size: 5rem;
         }
      }

      &__main {
         margin-bottom: 25px;
      }
   }

   // скрол вниз
   button.scroll_down {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      height: 50px;
      width: 30px;
      bottom: 60px;
      background-color: transparent;
      border: 2px solid #000;
      border-radius: 20px;
      cursor: pointer;
      outline: none;

      @media (max-width: 576px) {
         bottom: 20px;
      }

      &:before {
         position: absolute;
         top: 4px;
         left: 50%;
         content: "";
         width: 4px;
         height: 15px;
         margin-left: -2px;
         background-color: #000;
         border-radius: 8px;
         animation: scroll_down_btn-animation 2s infinite;
      }
   }

   @keyframes scroll_down_btn-animation {
      0% {
         transform: translate(0, 0);
         opacity: 0;
         transform: scaleY(0.5);
      }
      40% {
         transform: scaleY(0.8);
         opacity: 1;
      }
      90% {
         transform: translate(0, 5px);
      }
      100% {
         opacity: 0;
      }
   }
}
// скрол вниз

//   варианты меню
.toggle-left {
   font-size: 3.2rem;
   font-weight: 700;
   color: #ec7263;
   border: none;
   cursor: pointer;
   display: none;

   span {
      display: inline-block;
   }

   @media (max-width: 768px) {
      display: block;
      position: fixed;
      top: 25px;
      right: 20px;
      z-index: 100;
      transform: scale(0);
      transition: all 0.5s ease-in;
   }

   &:hover {
      border-radius: 100%;
      box-shadow: 0 2px 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
   }
}
.toggle-left-visible {
   transform: scale(1);
}

.toggler-menu {
   display: none;

   span i {
      font-size: 3.2rem;
   }

   @media (max-width: 768px) {
      display: block;
      margin: 0 20px 0 0;
      text-align: right;
   }
}

/* sidebar navigation menu */
.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 90;
   top: 0;
   right: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.5s;

   @media screen and (max-height: 450px) {
      padding-top: 15px;
   }

   a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;

      @media screen and (max-height: 450px) {
         font-size: 1.8rem;
      }

      &:hover {
         color: #f1f1f1;
      }
   }

   .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
   }
}
/* sidebar navigation menu */
